@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Raleway;
    color: #193441;
    background-color: #FCFFF5;
}
header{
    width: 100%;
    height: 30%;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top:0;
    position: relative;
}
header ul{
    display: flex;
    list-style: none;
    text-decoration: none;  
}
header a{
    color: black;
    list-style: none;
    text-decoration: none;
}
header ul li{
    margin: 0 80px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    padding: 20px;
    background-color: transparent;
    border-radius: 50px; 
    border: 3px rgb(0, 0, 0) solid;   
}
section#primeiro-estrofe {
    width: 100%;
    height: 500px;
    padding: 0 30px;
    position: relative;
}
h2#bem-vindo {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 40px;
}
p#paragrafo1 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 100px;
    font-size: 40px;
    margin-left: 500px;
    text-align: center;
    line-height: 60px;
}
img#logo-inicio {
    height: 400px;
    width: 400px;
    position: absolute;
}

section#segunda-estrofe {
    height: 600px;
    width: 100%;
    margin-top: 100px;
}
h1#exemplo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.apresentação{
	position: absolute;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.apresentação img{
	margin-top: 0px;
	opacity: 0;
	position: absolute;
	margin-left: 25%;
	transition: opacity 1000ms;
    padding: 0 10px;

}
.apresentação img.select{opacity: 1;}

div.apresentação img {
    height: 90%;
    width: 50%;
    margin-left: 70px;
}
p#contrate {    
    display: flex;
    align-items: center;
    justify-content: left;
    width: 540px;
    text-align: center;
    margin-right: 40px;  
    line-height: 70px;
    margin-top: 150px;
    color: black;
    padding: 0px 15px;
    font-size: 40px;
}  
section#terceira-estrofe {
    height: 300px;
    width: 100%;
}
section#terceira-estrofe a {
    text-decoration: none;
    color: black;
}
section#terceira-estrofe p{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #193441;
    text-align: center;
    margin-top: 100px;
}
section#quarta-estrofe {
    height: 500px;
    width: 100%;
    text-align: center;    
    border-top: 2px solid black;
    margin-top: 30px;
}
section#quarta-estrofe p#equipe{
    font-size: 30px;
}
section#quarta-estrofe a {
    font-size: 30px;

}
@media (max-width: 1100px) {
    header {
        height: 100px;
        width: 100%;
    }
    header ul li {
        margin: 0 10px;
        padding: 8px 7px;
        font-size: 15px;
    }
    section#primeiro-estrofe{
        width: 100%;
        padding: 0 0;
    }
    h2#bem-vindo {
        font-size: 35px;
    }
    img#logo-inicio {
        width: 100%;
        height: 400px;
    }
    p#paragrafo1 {
        justify-content: center;
        text-align: center;
        font-size: 30px;
        margin-top: 500px;
        margin-left: 0px;
        line-height: 50px;
    } 
    section#segunda-estrofe {
        margin-top: 540px;
    }
    section#segunda-estrofe h1{
        font-size: 30px;
        text-align: center;
        margin-top: 330px;
    }
    div.apresentação img {
        height: 350px;
        width: 100%;
    }
    p#contrate {
        height: 400px;
        width: 100%;
        text-align: center;
        font-size: 30px;
        margin-top: 400px;
        line-height: 40px;
    }
    section#terceira-estrofe p {
        font-size: 30px;
        margin-top: 300px;
    } 
    #contato{
        height: 00px;
        width: 100%;
        text-align: center;
    }
    }section#terceira-estrofe p#numero {
        margin-top: 150px;
    }
    section#quarta-estrofe {
        
    }
    section#quarta-estrofe p{
        font-size: 20px;
        margin-top: 20px;
    }
    section#quarta-estrofe a {
        text-decoration: none;
        color: black;
    }
}
