@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Raleway;
}
header{
    width: 100%;
    height: 30%;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top:0;
    position: relative;
}
header ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    position: fixed;   
}
header a{
    list-style: none;
    text-decoration: none;
}
header ul li{
    margin: 0 20px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    padding: 20px;
    background-color: transparent;
    border-radius: 50px; 
    border: 3px rgb(0, 0, 0) solid;   
}
section#primeiro-estrofe{
    height: 700px;
    width: 100%;
    background-color: #fff;
    padding: 0px 30px;
}
img#logo-inicio {
    margin-top: 70px;
    width: 500px;
    height: 400px;
    box-shadow: 2px 2px 500px black;
}   
#bem-vindo {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p#paragrafo1 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
#melhorar-pr1 {
    margin: 0px;
    height: 400px;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section#segunda-estrofe {
    height: 600px;
    width: 100%;
}
h1#exemplo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.apresentação{
	position: absolute;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.apresentação img{
	margin-top: 0px;
	opacity: 0;
	position: absolute;
	margin-left: 25%;
	transition: opacity 1000ms;
}
.apresentação img.select{opacity: 1;}

div.apresentação img {
    height: 500px;
    width: 700px;
    margin-left: 70px;
}
p#contrate {    
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 38px;
    margin-right: 40px;  
    line-height: 70px;
    margin-top: 150px;
    padding: 0px 15px;
}   
section#terceira-estrofe {
    height: 600px;
    width: 100%;
}
section#terceira-estrofe p{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #000;
    margin-top: 150px;
}

@media (max-width: 1280px) {
    header {
        height: 100px;
        width: 100%;
    }
    header ul {

    }
    header ul li {
        margin: 0 10px;
        padding: 8px 7px;
        font-size: 15px;
    }
    #bem-vindo {
        font-size: 30px;
        text-align: center;
    }
    section#primeiro-estrofe {
        padding: 0 0 ;
    }
    img#logo-inicio {
        height: 350px;
        width: 100%;
    }
    p#paragrafo1 {
        font-size: 30px;
        margin-bottom: 100px;
    }
    #melhorar-pr1{
        position: relative;
    }
    section
    h1#exemplo {
        margin-top: 150px;
        font-size: 30px;
        text-align: center;
    }
    section#segunda-estrofe {
        margin-top: 90px;
    }
    div.apresentação img {
        height: 350px;
        width: 100%;
    }
    p#contrate {
        text-align: center;
        font-size: 30px;
        margin-top: 500px;
        line-height: 30px;
    }
    section#terceira-estrofe p {
        font-size: 30px;
        margin-top: 300px;
    }section#terceira-estrofe p#numero {
        margin-top: 10px;
    }
}
